* {
  margin: 0;
  padding: 0;
}
audio {
  display: block;
}
.gameBoard {
  position: relative;
  width: 330px;
  height: 500px;
  background-image: url(../assets/images/background-day.png);
  border: 2px solid;
  margin: 0 auto;
  overflow: hidden
}
.gameOver {
  background-image: url(../assets/images/gameover.png);
  background-repeat: no-repeat;
  display: none;
  width: 200px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  cursor: pointer;
  z-index: 1000;
}
.start {
  background-image: url(../assets/images/message.png);
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  cursor: pointer;
  z-index: 1000;
}
.pontuacao {
  position: absolute;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  font-size: 50px;
  left: 50%;
  transform: translate(-50%);
}
.gameBird {
  position: absolute;
  width: 34px;
  height: 24px;
  background-image: url(../assets/images/bluebird-midflap.png);
  bottom: 50%;
  left: 50px;
  transform: translate(0,50%);
  transition: bottom 0.5s linear;
}
.birdUp {
  background-image: url(../assets/images/bluebird-upflap.png);
}
.birdDown {
  background-image: url(../assets/images/bluebird-downflap.png);
}
.gameBase {
  position: absolute;
  bottom: -160px;
  width: 660px;
  z-index: 2;
}
.baseMov {
  animation: moveBase 2s infinite linear;
}
@keyframes moveBase{
  to {
    transform: translateX(-330px);
  }
}
.pipe {
  position: absolute;
  right: -60px;
  /* left: 50px; */
  bottom: -80px;
  z-index: 1;
  animation: 3s movePipe infinite linear;
}
@keyframes default{
  to {
    left: auto;
  }
}
@keyframes movePipe {
  to {
    transform: translateX(-450px);
    /* transform: translateX(-500px); */
  }
}